<ion-header>
  <ion-toolbar>
    <ion-title>
      Consulta de CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Digite o CEP</ion-label>
    <ion-input [(ngModel)]="cep" type="text" placeholder="12345-678"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="consultarCEP()">Consultar</ion-button>

  <ion-card *ngIf="endereco">
    <ion-card-header>
      Resultado
    </ion-card-header>
    <ion-card-content>
      <p>CEP: {{ endereco.cep }}</p>
      <p>Logradouro: {{ endereco.logradouro }}</p>
      <p>Bairro: {{ endereco.bairro }}</p>
      <p>Cidade: {{ endereco.localidade }}</p>
      <p>Estado: {{ endereco.uf }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
